In [ ]:
# Lets start here

In [16]:
import pandas as pd
df = pd.read_excel('salary_data_states.xlsx')

In [20]:
print(df.head())

          CASE_NUMBER CASE_STATUS CASE_RECEIVED_DATE DECISION_DATE  \
0  I-200-14073-248840      denied          3/14/2014     3/21/2014
1       A-15061-55212      denied          3/19/2015     3/19/2015
2  I-200-13256-001092      denied          9/13/2013     9/23/2013
3  I-200-14087-353657      denied          3/28/2014      4/7/2014
4  I-203-14259-128844      denied          9/16/2014     9/23/2014

                                       EMPLOYER_NAME  \
0                ADVANCED TECHNOLOGY GROUP USA, INC.
1                     SAN FRANCISCO STATE UNIVERSITY
2                                    CAROUSEL SCHOOL
3  HARLINGEN CONSOLIDATED INDEPENDENT SCHOOL DIST...
4                        SIGNAL SCIENCES CORPORATION

   PREVAILING_WAGE_SUBMITTED PREVAILING_WAGE_SUBMITTED_UNIT  \
0                  6217100.0                           year
1                  5067600.0                           year
2                  4947000.0                           year
3                   251052.0                          month
4                    84573.0                      bi-weekly

   PAID_WAGE_SUBMITTED PAID_WAGE_SUBMITTED_UNIT  \
0              62171.0                     year
1              91440.0                     year
2              49470.0                     year
3              43800.0                     year
4             170000.0                     year

                          JOB_TITLE       WORK_CITY EDUCATION_LEVEL_REQUIRED  \
0                 SOFTWARE ENGINEER     BLOOMINGTON                      NaN
1  Assistant Professor of Marketing   SAN FRANCISCO                Doctorate
2         SPECIAL EDUCATION TEACHER     LOS ANGELES                      NaN
3                   SCIENCE TEACHER  HARLINGEN CISD                      NaN
4          SENIOR SOFTWARE ENGINEER        PORTLAND                      NaN

  COLLEGE_MAJOR_REQUIRED EXPERIENCE_REQUIRED_Y_N  \
0                    NaN                     NaN
1              marketing                       n
2                    NaN                     NaN
3                    NaN                     NaN
4                    NaN                     NaN

   EXPERIENCE_REQUIRED_NUM_MONTHS COUNTRY_OF_CITIZENSHIP  \
0                             NaN                    NaN
1                             NaN                   IRAN
2                             NaN                    NaN
3                             NaN                    NaN
4                             NaN                    NaN

  PREVAILING_WAGE_SOC_CODE                          PREVAILING_WAGE_SOC_TITLE  \
0                  15-1132                  Software Developers, Applications
1                  25-1011                   Business Teachers, Postsecondary
2                  25-2052  Special Education Teachers, Kindergarten and E...
3                  25-1042         Biological Science Teachers, Postsecondary
4                  15-1133              Software Developers, Systems Software

   WORK_STATE WORK_STATE_ABBREVIATION WORK_POSTAL_CODE FULL_TIME_POSITION_Y_N  \
0    Illinois                      IL              NaN                      y
1  California                      CA          94132.0                    NaN
2  California                      CA              NaN                      y
3       Texas                      TX              NaN                      y
4      Oregon                      OR              NaN                      y

       VISA_CLASS  PREVAILING_WAGE_PER_YEAR  PAID_WAGE_PER_YEAR  \
0            H-1B                       NaN             62171.0
1       greencard                       NaN             91440.0
2            H-1B                       NaN             49470.0
3            H-1B                       NaN             43800.0
4  E-3 Australian                       NaN            170000.0

    JOB_TITLE_SUBGROUP  order
0    software engineer      1
1  assistant professor      2
2              teacher      3
3              teacher      4
4    software engineer      5

In [23]:
# Fun Fact 1: Number of unique job titles in this Dataset
unique_job_titles = df['JOB_TITLE'].nunique()
print(f"Number of unique job titles: {unique_job_titles}")

Number of unique job titles: 12589

In [25]:
# Fun Fact 2: Average prevailing wage #####
average_prevailing_wage = df['PREVAILING_WAGE_SUBMITTED'].mean()
print(f"Average prevailing wage: {average_prevailing_wage}")

Average prevailing wage: 71157.5188296369

In [27]:
# Fun Fact 3: State with the highest average paid wage
state_highest_avg_paid_wage = df.groupby('WORK_STATE')['PAID_WAGE_SUBMITTED'].mean().idxmax()
print(f"State with the highest average paid wage: {state_highest_avg_paid_wage}")

State with the highest average paid wage: West Virginia

In [29]:
# Fun Fact 4: Number of cases with 'certified' status
certified_cases = df[df['CASE_STATUS'] == 'certified'].shape[0]
print(f"Number of cases with 'certified' status: {certified_cases}")

Number of cases with 'certified' status: 140031

In [38]:
# Fun Fact 4.1: Number of cases and their type

case_status_counts = df['CASE_STATUS'].value_counts()
print(case_status_counts)

CASE_STATUS
certified              140031
certified-withdrawn     14146
withdrawn                5602
denied                   4273
certified-expired        3226
Name: count, dtype: int64

In [33]:
# Fun Fact 5: Most common visa class
most_common_visa_class = df['VISA_CLASS'].mode()[0]
print(f"Most common visa class: {most_common_visa_class}")

Most common visa class: H-1B